@import "variables";
@import "mixins";

body {
  font-size: $font-size;
  font-family: "Open Sans";
  font-weight: 100;
  background: black;
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  transition: all $transition-time;
  padding: 100px 50px;

  img {
    height: 50vw;
    max-height: 240px;
    align-self: center;
    transition: all $transition-time;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      padding: $font-size 0;
    }
    select {
      width: auto;
      background-color: #ffffff;
      align-self: center;
    }
  }

  @include tablet {
    flex-direction: row;
    form {
      select {
        align-self: start;
      }
    }
  }

  @include desktop {
    justify-content: flex-start;
  }
}

footer {
  color: $footer-font-color;
  text-align: center;
  padding: 3 * $font-size;
}

body.loading {
  #articleContainer {
    background: url("/images/ajax-loader.gif") no-repeat top;
    background-size: 100px;
  }
}

body.article-view {
  header {
    flex: 0 1 auto;
    padding: $article-view-header-padding;

    @include tablet{
      padding: $article-view-header-padding / 2;

      img {
        height: 6 * $font-size;
        padding-right: $article-view-header-padding;
      }
    }
  }

  #articleContainer {
    display: grid;
    min-height: 100px;
    grid-template-columns: 100%;
    grid-auto-rows: 100vw;

    article {
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      transition: all $transition-time;
      background-blend-mode: difference;
      &:hover {

        border-top-left-radius: 50%;
        background-blend-mode: saturation;
        p {
          background: #ed0058;
          margin-bottom: 2* $font-size;
        }
      }

      p {
        padding: $font-size;
        line-height: 1.5;
        text-align: justify;
        background-color: rgba(0, 0, 0, .5);
        transition: all $transition-time;
      }
    }

    @include tablet{
      grid-template-columns: 33% 34% 33%;
      grid-auto-rows: 55vw;
    }

    @include desktop{
      grid-template-columns: repeat(4, 25%);
      grid-auto-rows: 40vw;
    }
  }
}


