@import "../variables";

header {
  flex-direction: row;
  form {
    select {
      align-self: start;
    }
  }
}

body.article-view {
  header {
    padding: $article-view-header-padding / 2;

    img {
      height: 6 * $font-size;
      padding-right: $article-view-header-padding;
    }
  }

  #articleContainer {
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: repeat(4, 55vw);
  }
}